.C1
{
      border: 1px solid rgb(248, 247, 247);
    padding: 13px;
    padding-top: 20px;
}
input::placeholder {
  font-size: 11px; 
  font-weight: 400;
}
.SIcon svg
{
  font-size: 9px;
}
.SPlaceH::placeholder
{
  font-size: 9px;
}
.PIcons span
{
      padding: 10px 31px;
}
.MyB1
{
  display: flex;
    /* width: 100%; */
    width: 250px !important;
    align-items: center;
    justify-content: center;
    gap: 13px;
    background-color: rgb(186, 249, 193);
    /* height: 7vh; */
    height: 40px;
}
.B2
{
  background-color: rgb(249, 201, 186);
}
.B3
{
  background-color: rgb(249, 234, 186);
}
.B4
{
  background-color: rgb(192, 239, 251);
}
.MyIcon
{
  background: transparent !important;
  color: aqua !important;
}
.MyIcon3
{

    background: transparent !important;
  color: rgb(255, 183, 0) !important;
}
.MyIcon2
{

    background: transparent !important;
  color: rgb(255, 21, 0) !important;
}
.MyIcon1
{

    background: transparent !important;
  color: rgb(0, 255, 51) !important;
}