.IconC
{
  color:  #d1b00f;
  font-size: 22px;
}
.C2
{
  border: 1px solid rgb(234, 232, 232);
  padding: 6px;
}
.CC1
{
  font-weight: 700;
}
.CC2
{
  font-weight: 700;
  border-bottom: 2px solid  #ffdd2d;
}